<header class="site-header py-3 bg-light border-bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <span class="logo h5 mb-0">Rekonstrukce Praha</span>
    <nav class="d-none d-lg-block">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Hlavní stránka</a></li>
        <li class="nav-item"><a class="nav-link" href="/rekonstrukce-bytu-praha/">Rekonstrukce bytu</a></li>
        <li class="nav-item"><a class="nav-link" href="/rekonstrukce-koupelny-praha/">Rekonstrukce koupelny</a></li>
        <li class="nav-item"><a class="nav-link" href="/elektroinstalace-praha/">Elektroinstalace</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Malování</a></li>
        <li class="nav-item"><a class="nav-link" href="#kontakt">Kontakt</a></li>
      </ul>
    </nav>
    <div class="d-lg-none">
      🍔 Menu
    </div>
  </div>
</header>
